.container{
    background-color: wheat;
    background-attachment: fixed;
    padding-left: 10px;

}
.card{
    padding-left: 10px;
    background-color:violet;
    opacity: 1;
}
h1{
    text-align: center;
    background-color: violet;
    padding: 10px 0 0 0;
}
h2{
    background-color: teal;
    color: yellow;
    padding-bottom: 0;
    margin-bottom: unset;
}
.quoteName{
    text-transform: capitalize;

}
.warning{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-style: unset;
    font-style: italic;
    font-weight: bolder;
}
.footer{
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}